pazi koju verziju koristiš za pip, moras točno u decimalu napisat

In [14]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.patches as mpatches
import plotly.io as pio
import plotly.express as px
import plotly.graph_objects as go
#from pandas_profiling import ProfileReport
from pandas.plotting import scatter_matrix
import pm4py
from pm4py.objects.log.util.log import project_traces
from pm4py.objects.log.util import interval_lifecycle

In [15]:
# function to print any trace (index) from log
def print_nth(log, index):
    print(str(project_traces(log)[index]))

In [16]:
offer_df = pd.read_csv("data/Sampled_BPIC17_offer_log.csv")
input = {
    "Case ID" : "caseid",
    "Activity" : "activity" ,
    "Reouce" : "resource" ,
    "Complete Timestamp": "ts",
    "(case) Accepted" : "y"  
}
offer_df.rename(columns=input,inplace = True)

trace_log = pm4py.format_dataframe(offer_df, case_id='caseid', activity_key='EventID', timestamp_key='ts')
trace_log = pm4py.convert_to_event_log(trace_log)

In [18]:
offer_df.shape

(22409, 23)

In [19]:
# number of distinct trace variants
len(pm4py.get_variants_as_tuples(trace_log))

5000

In [20]:
# print 1st trace
print_nth(trace_log, 0)

['Offer_1000681710', 'OfferState_452902905', 'OfferState_256930279', 'OfferState_139676846', 'OfferState_983793285']

In [21]:
df = pm4py.convert_to_dataframe(trace_log)
df.head(5)

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,Action,EventID,EventOrigin,OfferID,lifecycle:transition,concept:name,time:timestamp,@@index,@@case_index,case:concept:name
0,14554,Offer_1000681710,O_Create Offer,User_20,2016-02-02 18:24:54.170000+00:00,Variant 2,2,True,Application_2131314372,956,...,Created,Offer_1000681710,Offer,NaN,complete,Offer_1000681710,2016-02-02 18:24:54.170000+00:00,0,0,Offer_1000681710
1,14555,Offer_1000681710,O_Created,User_20,2016-02-02 18:24:55.833000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_452902905,Offer,Offer_1000681710,complete,OfferState_452902905,2016-02-02 18:24:55.833000+00:00,1,0,Offer_1000681710
2,14556,Offer_1000681710,O_Sent (mail and online),User_20,2016-02-02 18:25:14.889000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_256930279,Offer,Offer_1000681710,complete,OfferState_256930279,2016-02-02 18:25:14.889000+00:00,2,0,Offer_1000681710
3,14557,Offer_1000681710,O_Returned,User_117,2016-02-09 22:36:31.755000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_139676846,Offer,Offer_1000681710,complete,OfferState_139676846,2016-02-09 22:36:31.755000+00:00,3,0,Offer_1000681710
4,14558,Offer_1000681710,O_Accepted,User_115,2016-02-10 00:55:41.368000+00:00,Variant 2,2,True,Application_2131314372,956,...,statechange,OfferState_983793285,Offer,Offer_1000681710,complete,OfferState_983793285,2016-02-10 00:55:41.368000+00:00,4,0,Offer_1000681710

In [8]:
offer_df

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,(case) OfferedAmount,(case) Selected,Action,EventID,EventOrigin,OfferID,lifecycle:transition,case:concept:name,concept:name,time:timestamp
0,0,Offer_247135719,O_Create Offer,User_17,2016-01-02 18:17:05.720000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,Created,Offer_247135719,Offer,NaN,complete,Offer_247135719,Offer_247135719,2016-01-02 18:17:05.720000+00:00
1,1,Offer_247135719,O_Created,User_17,2016-01-02 18:17:08.762000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,statechange,OfferState_124849367,Offer,Offer_247135719,complete,Offer_247135719,OfferState_124849367,2016-01-02 18:17:08.762000+00:00
2,2,Offer_247135719,O_Sent (online only),User_17,2016-01-02 18:19:21.330000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,statechange,OfferState_440662877,Offer,Offer_247135719,complete,Offer_247135719,OfferState_440662877,2016-01-02 18:19:21.330000+00:00
3,3,Offer_247135719,O_Cancelled,User_17,2016-01-02 18:21:26.034000+00:00,Variant 8,8,True,Application_196483749,0,...,10000.0,False,statechange,OfferState_591416028,Offer,Offer_247135719,complete,Offer_247135719,OfferState_591416028,2016-01-02 18:21:26.034000+00:00
4,4,Offer_941964966,O_Create Offer,User_17,2016-01-02 18:21:42.022000+00:00,Variant 1,1,True,Application_196483749,0,...,10000.0,False,Created,Offer_941964966,Offer,NaN,complete,Offer_941964966,Offer_941964966,2016-01-02 18:21:42.022000+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22404,22404,Offer_1064426652,O_Create Offer,User_23,2016-02-18 22:50:01.446000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,Created,Offer_1064426652,Offer,NaN,complete,Offer_1064426652,Offer_1064426652,2016-02-18 22:50:01.446000+00:00
22405,22405,Offer_1064426652,O_Created,User_23,2016-02-18 22:50:02.655000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_189916093,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_189916093,2016-02-18 22:50:02.655000+00:00
22406,22406,Offer_1064426652,O_Sent (mail and online),User_23,2016-02-18 22:50:22.174000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_24747308,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_24747308,2016-02-18 22:50:22.174000+00:00
22407,22407,Offer_1064426652,O_Returned,User_117,2016-02-29 19:08:56.200000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_1809485991,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_1809485991,2016-02-29 19:08:56.200000+00:00
22408,22408,Offer_1064426652,O_Accepted,User_102,2016-02-29 23:43:45.831000+00:00,Variant 2,2,True,Application_1574359134,767,...,6000.0,True,statechange,OfferState_880267349,Offer,Offer_1064426652,complete,Offer_1064426652,OfferState_880267349,2016-02-29 23:43:45.831000+00:00

In [10]:
import function

In [11]:
offer_df["ts"] = pd.to_datetime(offer_df["ts"])

offer_df["dt"] = function.dt(offer_df)

offer_df.head()

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,(case) Selected,Action,EventID,EventOrigin,OfferID,lifecycle:transition,case:concept:name,concept:name,time:timestamp,dt
0,0,Offer_247135719,O_Create Offer,User_17,2016-01-02 18:17:05.720000+00:00,Variant 8,8,True,Application_196483749,0,...,False,Created,Offer_247135719,Offer,NaN,complete,Offer_247135719,Offer_247135719,2016-01-02 18:17:05.720000+00:00,0 days 00:00:03.042000
1,1,Offer_247135719,O_Created,User_17,2016-01-02 18:17:08.762000+00:00,Variant 8,8,True,Application_196483749,0,...,False,statechange,OfferState_124849367,Offer,Offer_247135719,complete,Offer_247135719,OfferState_124849367,2016-01-02 18:17:08.762000+00:00,0 days 00:02:12.568000
2,2,Offer_247135719,O_Sent (online only),User_17,2016-01-02 18:19:21.330000+00:00,Variant 8,8,True,Application_196483749,0,...,False,statechange,OfferState_440662877,Offer,Offer_247135719,complete,Offer_247135719,OfferState_440662877,2016-01-02 18:19:21.330000+00:00,0 days 00:02:04.704000
3,3,Offer_247135719,O_Cancelled,User_17,2016-01-02 18:21:26.034000+00:00,Variant 8,8,True,Application_196483749,0,...,False,statechange,OfferState_591416028,Offer,Offer_247135719,complete,Offer_247135719,OfferState_591416028,2016-01-02 18:21:26.034000+00:00,0 days 00:02:04.704000
4,4,Offer_941964966,O_Create Offer,User_17,2016-01-02 18:21:42.022000+00:00,Variant 1,1,True,Application_196483749,0,...,False,Created,Offer_941964966,Offer,NaN,complete,Offer_941964966,Offer_941964966,2016-01-02 18:21:42.022000+00:00,0 days 00:00:01.551000

In [12]:
percent_missing = offer_df.isnull().sum() * 100 / len(offer_df)
missing_value_df = pd.DataFrame({'column_name': offer_df.columns,
                                 'percent_missing': percent_missing})

miss_ls = list(percent_missing[percent_missing>30].keys())

In [14]:
miss_ls

[]

## Adding Time features

In [15]:
# adding month and year as feature
offer_df['year'] = offer_df['ts'].dt.year
offer_df['month'] = offer_df['ts'].dt.month

In [16]:
# converting dataframe to event log
trace_log = pm4py.format_dataframe(offer_df, case_id='caseid', activity_key='EventID', timestamp_key='ts')
trace_log = pm4py.convert_to_event_log(trace_log)

In [17]:
# adding lead and waiting time
# @@approx_bh_partial_lead_time	- Incremental lead time associated to the event
# @@approx_bh_overall_wasted_time - Difference between the partial lead time and the partial cycle time values (for us same as above, as no cylce time for us)
# @@approx_bh_this_wasted_time -	Wasted time ONLY with regards to the activity described by the ‘interval’ even (time difference between activities)
trace_log = interval_lifecycle.assign_lead_cycle_time(trace_log)

In [18]:
# To extract target varaible, 
declerations = []
for trace in trace_log:
    flag = False
    for i,event in enumerate(trace):
        if "False" in event['y']:
            flag = True
            break
    
    if flag:
        declerations.append(1)
    else:
        declerations.append(0)

TypeError: argument of type 'bool' is not iterable

In [19]:
# convert logs to dataframe
df = pm4py.convert_to_dataframe(trace_log)
df.head()

,index,caseid,activity,Resource,ts,Variant,Variant index,y,(case) ApplicationID,(case) CreditScore,...,@@case_index,start_timestamp,time:timestamp,@@duration,@@approx_bh_partial_cycle_time,@@approx_bh_partial_lead_time,@@approx_bh_overall_wasted_time,@@approx_bh_this_wasted_time,@approx_bh_ratio_cycle_lead_time,case:concept:name
0,14554,Offer_1000681710,O_Create Offer,User_20,2016-02-02 18:24:54.170000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-02 18:24:54.170000+00:00,2016-02-02 18:24:54.170000+00:00,0.0,0.0,0.0,0.0,0.0,1.0,Offer_1000681710
1,14555,Offer_1000681710,O_Created,User_20,2016-02-02 18:24:55.833000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-02 18:24:55.833000+00:00,2016-02-02 18:24:55.833000+00:00,0.0,0.0,0.0,0.0,0.0,1.0,Offer_1000681710
2,14556,Offer_1000681710,O_Sent (mail and online),User_20,2016-02-02 18:25:14.889000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-02 18:25:14.889000+00:00,2016-02-02 18:25:14.889000+00:00,0.0,0.0,0.0,0.0,0.0,1.0,Offer_1000681710
3,14557,Offer_1000681710,O_Returned,User_117,2016-02-09 22:36:31.755000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-09 22:36:31.755000+00:00,2016-02-09 22:36:31.755000+00:00,0.0,0.0,180000.0,180000.0,180000.0,0.0,Offer_1000681710
4,14558,Offer_1000681710,O_Accepted,User_115,2016-02-10 00:55:41.368000+00:00,Variant 2,2,True,Application_2131314372,956,...,0,2016-02-10 00:55:41.368000+00:00,2016-02-10 00:55:41.368000+00:00,0.0,0.0,180000.0,180000.0,0.0,0.0,Offer_1000681710

### Cheking data types

In [20]:
# check type and correct if needed
df.dtypes

index                                             int64
caseid                                           object
activity                                         object
Resource                                         object
ts                                  datetime64[ns, UTC]
Variant                                          object
Variant index                                     int64
y                                                  bool
(case) ApplicationID                             object
(case) CreditScore                                int64
(case) FirstWithdrawalAmount                    float64
(case) MonthlyCost                              float64
(case) NumberOfTerms                              int64
(case) OfferedAmount                            float64
(case) Selected                                    bool
Action                                           object
EventID                                          object
EventOrigin                                      object
OfferID                                          object
dt                                      timedelta64[ns]
year                                              int64
month                                             int64
concept:name                                     object
@@index                                           int64
@@case_index                                      int64
start_timestamp                     datetime64[ns, UTC]
time:timestamp                      datetime64[ns, UTC]
@@duration                                      float64
@@approx_bh_partial_cycle_time                  float64
@@approx_bh_partial_lead_time                   float64
@@approx_bh_overall_wasted_time                 float64
@@approx_bh_this_wasted_time                    float64
@approx_bh_ratio_cycle_lead_time                float64
case:concept:name                                object
dtype: object

In [21]:
num_columns = df.select_dtypes(include='number')
num_columns.columns

Index(['index', 'Variant index', '(case) CreditScore',
       '(case) FirstWithdrawalAmount', '(case) MonthlyCost',
       '(case) NumberOfTerms', '(case) OfferedAmount', 'dt', 'year', 'month',
       '@@index', '@@case_index', '@@duration',
       '@@approx_bh_partial_cycle_time', '@@approx_bh_partial_lead_time',
       '@@approx_bh_overall_wasted_time', '@@approx_bh_this_wasted_time',
       '@approx_bh_ratio_cycle_lead_time'],
      dtype='object')