# Project of ana and leo

In [1]:
import pandas as pd
import statistics
import warnings
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from function import Utils
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from pandas.api.types import is_numeric_dtype
import numpy as np
from IPython.display import display

warnings.filterwarnings('ignore')

## Data loading

In [14]:
df = pd.read_csv("hmw/hospital_billing.csv",index_col=0)

In [15]:
df.head(2)

,case_id,activity,lifecycle,resource,timestamp,actorange,actred,blocked,casetype,closecode,...,iscancelled,isclosed,msgcode,msgcount,msgtype,speciality,state,version,activity_instance_id,.order
1,A,NEW,complete,ResA,2012-12-16 19:33:10,NaN,NaN,False,A,NaN,...,False,True,NaN,NaN,NaN,A,In progress,NaN,1,1
2,A,FIN,complete,NaN,2013-12-15 19:00:37,NaN,NaN,NaN,NaN,A,...,NaN,NaN,NaN,NaN,NaN,NaN,Closed,NaN,2,2

## Data preprocessing

In [16]:
input = {
    "case_id" : "caseid",
    "activity" : "activity" ,
    "resource" : "resource" ,
    "timestamp": "ts",
    "lifecycle" : "y"  
}

# Change columns name
df.rename(columns=input,inplace = True)

# Timestamp value in df
df["ts"] = pd.to_datetime(df["ts"])

df["dt"] = Utils.dt(df) # Thisneed to be improved

In [17]:
Utils.persantage_nan(df)

caseid                   0.002002
activity                 0.000000
y                        0.000000
resource                47.198254
ts                       0.000000
actorange               85.724010
actred                  85.693980
blocked                 79.980381
casetype                79.642049
closecode               84.793097
diagnosis               80.344738
flaga                   79.980381
flagb                   79.980381
flagc                   85.693980
flagd                   79.966367
iscancelled             78.014454
isclosed                79.780185
msgcode                 99.725731
msgcount                85.591880
msgtype                 99.725731
speciality              79.980381
state                   15.721407
version                 85.021321
activity_instance_id     0.000000
.order                   0.000000
dt                       0.000000
dtype: float64

In [18]:
df = Utils.predict_null_value(colum="state",df=df)

In [19]:
df = Utils.predict_null_value(colum="resource",df=df)

In [20]:
df = Utils.prod_nan_with_treshold(df)
df.head()

,caseid,activity,y,resource,ts,state,activity_instance_id,.order,dt,state_was_null,resource_was_null
1,A,NEW,complete,ResA,2012-12-16 19:33:10,In progress,1,1,363 days 23:27:27,False,False
2,A,FIN,complete,ResA,2013-12-15 19:00:37,Closed,2,2,0 days 08:53:01,False,True
3,A,RELEASE,complete,ResA,2013-12-16 03:53:38,Released,3,3,1 days 09:02:51,False,True
4,A,CODE OK,complete,ResA,2013-12-17 12:56:29,In progress,4,4,1 days 14:48:02,True,True
5,A,BILLED,complete,ResB,2013-12-19 03:44:31,Billed,5,5,1 days 14:48:02,False,False

In [21]:
df_grouped = df.groupby(["caseid"]).agg(list).reset_index()

In [22]:
df_grouped = Utils.reduce_list_columns(df_grouped)

In [23]:
Utils.display_columns_to_aggragate(df_grouped)

,activity,resource,ts,state,activity_instance_id,.order,dt,state_was_null,resource_was_null
0,"[NEW, FIN, RELEASE, CODE OK, BILLED]","[ResA, ResA, ResA, ResA, ResB]","[2012-12-16 19:33:10, 2013-12-15 19:00:37, 201...","[In progress, Closed, Released, In progress, B...","[1, 2, 3, 4, 5]","[1, 2, 3, 4, 5]","[363 days 23:27:27, 0 days 08:53:01, 1 days 09...","[False, False, False, True, False]","[False, True, True, True, False]"
1,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...","[ResHA, ResI, ResA, ResA, ResA, ResB]","[2012-12-26 08:50:18, 2012-12-26 08:50:59, 201...","[In progress, In progress, Closed, Released, I...","[147, 148, 149, 150, 151, 152]","[147, 148, 149, 150, 151, 152]","[0 days 00:00:41, 50 days 12:15:34, 0 days 01:...","[False, False, False, False, True, False]","[False, True, False, True, True, False]"
2,[NEW],[ResJA],[2013-01-26 22:56:11],[In progress],[3541],[3541],[19 days 12:36:49],[False],[False]
3,[NEW],[ResJA],[2013-01-03 22:55:39],[In progress],[6845],[6845],[153 days 12:20:19],[False],[False]
4,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...","[ResVG, ResJA, ResA, ResA, ResJA, ResB]","[2013-01-08 11:37:19, 2013-01-08 11:37:37, 201...","[In progress, In progress, Closed, Released, I...","[10188, 10189, 10190, 10191, 10192, 10193]","[10188, 10189, 10190, 10191, 10192, 10193]","[0 days 00:00:18, 7 days 08:13:48, 0 days 06:5...","[False, False, False, False, True, False]","[False, True, False, True, True, False]"
...,...,...,...,...,...,...,...,...,...
9994,"[NEW, FIN, RELEASE, CODE OK, REOPEN, DELETE]","[ResA, ResA, ResA, ResJA, ResDB, ResJA]","[2013-02-25 19:35:08, 2013-04-11 19:42:23, 201...","[In progress, Closed, Released, In progress, I...","[33570, 33571, 33572, 33573, 33574, 33575]","[33570, 33571, 33572, 33573, 33574, 33575]","[45 days 00:07:15, 0 days 08:27:18, 1 days 23:...","[False, False, False, True, False, False]","[False, True, True, True, False, True]"
9995,[NEW],[ResJA],[2013-02-27 22:59:03],[In progress],[36878],[36878],[226 days 09:20:43],[False],[False]
9996,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...","[ResII, ResJA, ResA, ResA, ResIA, ResB]","[2013-03-11 10:38:05, 2013-03-11 10:38:26, 201...","[In progress, In progress, Closed, Released, I...","[40345, 40346, 40347, 40348, 40349, 40350]","[40345, 40346, 40347, 40348, 40349, 40350]","[0 days 00:00:21, 91 days 15:17:13, 0 days 00:...","[False, False, False, False, True, False]","[False, True, False, True, True, False]"
9997,"[NEW, FIN, RELEASE, CODE OK, BILLED]","[ResA, ResA, ResA, ResJA, ResB]","[2013-04-06 02:38:48, 2013-04-11 03:37:44, 201...","[In progress, Closed, Released, In progress, B...","[43983, 43984, 43985, 43986, 43987]","[43983, 43984, 43985, 43986, 43987]","[5 days 00:58:56, 0 days 03:07:31, 0 days 19:3...","[False, False, False, True, False]","[False, True, True, True, False]"
9998,"[NEW, CHANGE DIAGN, FIN, RELEASE, CODE OK, BIL...","[ResRH, ResJA, ResA, ResA, ResJA, ResB]","[2013-03-19 14:26:05, 2013-03-19 14:26:14, 201...","[In progress, In progress, Closed, Released, I...","[47454, 47455, 47456, 47457, 47458, 47459]","[47454, 47455, 47456, 47457, 47458, 47459]","[0 days 00:00:09, 43 days 06:04:49, 0 days 05:...","[False, False, False, False, True, False]","[False, True, False, True, True, False]"

In [24]:
#Some colomns have no importance in the process so we drop them
df_grouped = df_grouped.drop(['EventID','OfferID','ts','OfferID_was_null'],axis=1)

KeyError: "['EventID', 'OfferID', 'OfferID_was_null'] not found in axis"

In [ ]:
df_grouped_agg = Utils.aggregation_encoding(df_grouped,df)

In [ ]:
df_grouped_agg

## Logs encoding

i think: activity - onehot?, variant - one hot, action, onehot, event origin - onehot, liofecycle - one hot

## Model selection

## Evaluation of results